.li {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    text-align: center;
    box-shadow: 0px 0px 10px 0px #b38e8e59;
    border: 1px solid #ccc;

}

li:hover {
    box-shadow: 0px 0px 10px 0px #ad0a0a4d;

}


.li img {
    max-width: 70px;
    width: 100%;
    height: auto;
}

.li div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.li div>h4 {
    font-size: 15px;
}

.li div>.category {
    font-size: 14px;
    color: #413e3e;
    font-weight: 500;
}

.price {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 14px;
    font-weight: 600;

    color: tomato;

}

.price p {
    font-weight: 500;
    color: #413e3ec2;
}

.li div>p {
    font-size: 14px;
    color: #413e3ec2;

    border: 1px dashed #413e3e25;
    border-radius: 5px;
    padding: 5px;
}

.li div>button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: tomato;
    color: #fff;
    cursor: pointer;
}


.li div>button:hover {
    background-color: #b38e8e;
}

.li div>button:active {
    background-color: #5e5858;
}